n8nWorkflow/chatbotvoltix.json
{
  "name": "chatbotvoltix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "4c435ac1-9c5a-4e0d-b79c-1b07c27f8027",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        688
      ],
      "id": "7a7a4b99-326d-4d38-84fc-bbd6142a1b31",
      "name": "Webhook",
      "webhookId": "4c435ac1-9c5a-4e0d-b79c-1b07c27f8027"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are VOLTIX Assistant, a friendly and knowledgeable customer support chatbot for VOLTIX Pro 10K Magnetic Wireless Power Bank.\n\nYour role is to:\n- Answer questions about the VOLTIX Pro 10K power bank product\n- Help customers understand features, specifications, and compatibility\n- Assist with pre-purchase questions and concerns\n- Provide troubleshooting guidance\n- Guide users toward making a purchase when appropriate\n\nKey product information:\n- Product: VOLTIX Pro 10K Magnetic Wireless Power Bank\n- Price: $49.99 (28% off from $69.99)\n- Capacity: 10,000mAh\n- Wireless charging: Up to 15W magnetic wireless\n- Wired charging: PD 22.5W (USB-A) and 20W (USB-C)\n- Dimensions: 98 × 64 × 15 mm, ~200g\n- Warranty: 18 months\n- Airline approved for carry-on\n\nTone: Be helpful, professional, and enthusiastic about the product. Keep responses concise but informative. If you don't know something, say so and offer to connect them with human support."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        72,
        688
      ],
      "id": "41b33a43-9aeb-440b-af66-e6f124343477",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        912
      ],
      "id": "51f477eb-e1b9-4c31-b2e3-3b62224941a3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7J5jg9pjzO0NjqOv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "12"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        144,
        912
      ],
      "id": "eee593c2-850d-4101-b127-ce4412f2aff9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        688
      ],
      "id": "ae523ef5-e541-4555-bca4-9a83dca7cd10",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "formTitle": "Upload rag document",
        "formDescription": "Upload",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload File",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -208,
        152
      ],
      "id": "c3b58732-d538-4863-be49-3a2e4c6ab219",
      "name": "On form submission",
      "webhookId": "f9d1113b-9eb8-4435-986a-3b852eaef0ad",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        16,
        48
      ],
      "id": "a9dc88ec-4233-49e0-a31c-c6dd0a7a3158",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        24,
        272
      ],
      "id": "d67bd717-8664-4aa1-aa40-a60955b69753",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7J5jg9pjzO0NjqOv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        152,
        272
      ],
      "id": "65931b32-f3f4-447c-bc73-5acd58eb2e8f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "vector store for ai chatbot",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        272,
        912
      ],
      "id": "5b985a5a-9e75-4f15-b05a-25b1ea19e3a6",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        352,
        1120
      ],
      "id": "677e9464-6887-4d2f-9ddd-7afe43dce8d1",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "7J5jg9pjzO0NjqOv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1951ae03-564b-497a-b3b1-ef6a778c1220",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d30e10418323ee3b0cace2b29535082b0ea784c195c4c424b33289493bff7863"
  },
  "id": "7QFwT1EjYj0ssBM9",
  "tags": []
}